{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hk search</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row align-items-center" style="margin-top: 2%">
            <div class="col parent" style="height: 100px">
                <button class="btn btn-primary child" onclick="search_by_item_show()">按物品名搜索信息</button>
            </div>
            <div class="col parent" style="height: 100px">
                <button type="button" class="btn btn-primary child">按物品名修改记录</button>
            </div>
            <div class="col parent" style="height: 100px">
                <button type="button" class="btn btn-primary child">添加新物品</button>
            </div>
            <div class="col parent" style="height: 100px">
                <button type="button" class="btn btn-primary child">添加新购买记录</button>
            </div>
        </div>
        <div id="search_by_item" class="row" style="display: none;margin-left: 10%;margin-right: 10%">
            <div class="row">
                <form action="" method="post" class="form-inline">
                    <input type="text" id="item_name" class="form-control" placeholder="输入物品名">
                    <button type="button" class="btn btn-primary" onclick="search_by_item()">搜索</button>
                </form>

            </div>
            <div class="row">
                <table class="table table-bordered">
                        <thead>
                          <tr>
                              <th>名称</th>
                              <th>内地官方价</th>
                              <th>香港官方价</th>
                              <th>其他人价格</th>
                              <th>我们的卖价</th>
                              <th>照片</th>
                              <th><a href="/hkgo/showrecords/?name={{data.name}}">详细购买记录</a></th>
                          </tr>
                        </thead>
                        <tbody id="item_detail">

                        </tbody>
                </table>
            </div>
            <div class="row" disabled="none"></div>
        </div>
        <div id="modify_by_item" class="row" disabled="none">

        </div>
        <div id="add_new_item" class="row" disabled="none">

        </div>
        <div id="add_new_record" class="row" disabled="none">

        </div>
    </div>
</body>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    function search_by_item_show() {
        var elem = document.getElementById('search_by_item');
        elem.style.display = "block";
    }

    function search_by_item(){
        var item_name = document.getElementById("item_name").value;
        var item_detail = document.getElementById("item_detail");
        $.ajax({
            url:"/hkgo/checkprice/",
            type:"POST",
            data:{item_name:item_name},
            dataType:"json",
            success:function (result) {
                var html = "<tr><td>"+result["name"]+"</td><td>"+result["cn_official_price"]+"</td><td>"+result["hk_official_price"]+"</td><td>"+result["other_people_price"]+"</td><td>"+result["our_price"]+"</td><td>"+result["pic"]+"</td></tr>";
                item_detail.innerHTML = html;
            }
        })
    }
</script>
</html>